 .container {
     display: flex;
     flex-wrap: wrap;
 }
 
 .box {
     margin: 10px;
     border: 1px solid black;
     padding: 10px;
     width: 20%;
     display: flex;
     justify-content: center;
 }
 
 .arabic {
     font-size: 25px;
 }
 
 .hide {
     display: none;
 }